:root{
    --awhite: hsl(0, 0%, 98%);
    --mgray:hsl(0, 0%, 41%);
    --ablack: hsl(0, 0%, 8%);
}


body{
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    height: 100vh;
}

.heroimg img{
    width:100%;
   
}

.card__holder{
    border: 4px solid red;
    padding: 5rem;
}

.flexcard{
    display: flex;
    flex: 1;
    
}

.text{
    padding-top: 5rem;
    padding-right: 5rem;
}

.text h1{
    font-size: 4.5em;
    font-weight: 700;
}

.text p{
    font-weight: 400;
    padding-right: 2rem;
    margin-bottom: 2rem;
}


.boton{
    background-color: var(--ablack);
    color: var(--awhite);
    padding: .5em 1em;
    border-radius: .5rem;
    margin-bottom: 6rem;
}

.logos{
    
}

